{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="prestamo">
    <div class="prestamo__lateralIzquierdo" style="background-image: url({% static 'img/prestamo/background-login.webp'%}); background-repeat: no-repeat; background-size: 70% 100%; background-position: center right;">
        <img class="prestamo__logo" src="{% static 'img/prestamo/logo-slogan-blanco.webp' %}" alt="Logi de Moni.com">
        <img class="prestamo__monipose" src="{% static 'img/prestamo/moni-pose.svg' %}" alt="Moni Pose">
    </div>
    <div class="prestamo__lateralDerecho">
        <h2 class="prestamo__titulo">MONI</h2>
        <h3 class="prestamo__subtitulo">¿Queres solicitar un prestamo?</h3>
        <h3 class="prestamo__tituloForm">Completa el siguiente formulario</h3>
        <form action="{% url 'web:solicitar_prestamo' %}" method="POST" id="prestamo__formulario" class="prestamo__formulario">{% csrf_token %}
            {% for fila in prestamoForm %}
                <div class="prestamo__formulario--item">
                    {{ fila.label_tag }}
                    {{ fila }}
                </div>
            {% endfor %}
            <div class="prestamo__formulario--error" id="prestamo_mensaje"></div>
            <div class="prestamo__formulario--item">
                <button class="prestamo__submit" type="submit">Solicitar</button>
            </div> 
        </form>
    </div>
    </section>
{{prestamoForm.media}}   
{% endblock main %}